<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Post your daily blog">
    <meta name="keywords" content="Blog, Journal">
    <title>Daily Journal</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <div class="flex-wrapper">
      <div class="content">

        <nav class="navbar navbar-default">
          <div class="container">
            <div class="navbar-header">
              <a href="/" class="navbar-brand">DAILY JOURNAL</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
              <!-- 6 -->
              <li id="home">
                <a href="/newpost">NEW POST</a>
              </li>
              <li id="about">
                <a href="/about">ABOUT US</a>
              </li>
              <li id="contact">
                <a href="/contact">CONTACT US</a>
              </li>
            </ul>
          </div>
        </nav>

        <body>
          <div class="container">